@font-face {
  font-family: 'bakersignet';
  src: url("./public/typo/BakerSignetBT.ttf") format("ttf");
  src: url("./public/typo/BakerSignetBT.eot") format("eot");
  src: url("./public/typo/BakerSignetBT.svg") format("svf");
  src: url("./public/typo/BakerSignetBT.woff") format("woff");
}

@font-face {
  font-family: 'another-typewriter';
  src: url("./public/typo/Another-typewriter.ttf") format("ttf");
  src: url("./public/typo/Another-typewriter.eot") format("eot");
  src: url("./public/typo/Another-typewriter.svg") format("svf");
  src: url("./public/typo/Another-typewriter.woff") format("woff");
}

@font-face {
  font-family: 'capture-it';
  src: url("./public/typo/Capture-it.ttf") format("ttf");
  src: url("./public/typo/Capture-it.eot") format("eot");
  src: url("./public/typo/Capture-it.svg") format("svf");
  src: url("./public/typo/Capture-it.woff") format("woff");
}

* {
  font-family: 'bakersignet';
  color: black;
  font-size: 20px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page {
  max-width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 10px;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
  font-family: 'capture-it';
  font-weight: normal;
}

.win {
  background-color: #b6ff98;
  padding: 20px;
  font-weight: bolder;
}

.err {
  background-color: #f55656;
  padding: 0 20px;
  margin: 15px 0;
  font-weight: bolder;
}

fieldset {
  border: none;
}

header {
  width: 90%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./public/images/BG-header.jpg");
  background-size: cover;
  background-position: center;
}

header #account {
  width: 100%;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  background-color: #b6ff98;
}

header #account a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
  padding: 0 10px;
  margin: 0 10px;
}

header #account a i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  position: relative;
  top: 2px;
}

header #title {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}

header #title img {
  max-height: 250px;
}

header #title .logo-mobile {
  display: none;
}

header #title .logo-desktop {
  display: flex;
}

header #navigation {
  width: 100%;
  border: none;
  height: auto;
  background: none;
  margin: 0;
  padding: 0;
}

header #navigation span {
  display: none;
}

header #navigation nav {
  width: 90%;
  height: 70px;
  align-items: center;
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.6);
}

header #navigation nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: #84cb68;
  border-radius: 20px 20px 0 0;
  font-size: 30px;
  margin: 0 5px;
  padding: 0 5px;
  width: 20%;
  font-weight: bolder;
}

@media screen and (max-width: 750px) {
  header {
    background-position: top;
    background-size: 100%;
    border-radius: 0 0 10px 10px;
  }
  header #title .logo-desktop {
    display: none;
  }
  header #title .logo-mobile {
    display: flex;
  }
  header #navigation {
    background-color: #84cb68;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    flex-direction: column;
  }
  header #navigation span {
    width: 100%;
    border: none;
    position: relative;
    background-color: #539a3a;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header #navigation span i {
    color: white;
    margin: 0 10px;
  }
  header #navigation span p {
    color: white;
    margin: 5px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }
  header #navigation nav {
    transition-duration: 0.7s;
    overflow: hidden;
    position: relative;
    background-color: #84cb68;
    width: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    max-height: 0;
    border-radius: 0 0 10px 10px;
  }
  header #navigation nav a {
    border-bottom: 3px black solid;
    margin: 5px 0;
    border-radius: 0;
    width: 90%;
    padding: 0;
    font-size: 25px;
  }
  header #navigation:hover nav {
    max-height: 180px;
  }
}

footer {
  width: 100%;
  margin-top: 20px;
  background-color: #84cb68;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .footer-block {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

footer .footer-block p {
  margin: 25px 0 0 0;
  padding: 0;
}

footer .footer-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.research-item {
  margin: 25px 0;
}

.research-item fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 650px;
}

.research-item fieldset .param-search {
  display: flex;
  flex-wrap: wrap;
}

.research-item fieldset .param-search .search-words {
  text-overflow: ellipsis;
  width: 100%;
  height: 30px;
}

.research-item fieldset .param-search .search-type {
  margin: 0 5px;
}

.research-item fieldset .search-submit {
  height: 40px;
  margin: 0 20px;
}

.input-style {
  border: none;
  border-radius: 50px;
  padding: 7px 20px;
  background-color: #539a3a;
  color: white;
  box-shadow: 5px 5px 5px black;
  transition-duration: 0.3s;
  text-align: center;
}

.input-style:hover {
  transform: scale(1.06);
}

.input-style:active {
  box-shadow: 5px 5px 5px black inset;
}

.contact h2 {
  font-size: 25px;
  text-align: center;
}

.contact p {
  margin: 20px;
}

.contact .info {
  width: 90%;
}

.contact .info .info-value {
  display: flex;
  width: 90%;
}

.contact .info .info-value ul {
  margin: 0 60px 0 0;
  padding: 0;
  list-style-type: none;
}

.contact .info .info-value ul li {
  display: flex;
  margin: 15px 0;
}

.contact .info .info-value ul li a {
  display: flex;
}

.contact .info .info-value ul li i {
  margin: 5px 10px;
}

.contact .info .info-value ul li p {
  margin: 0;
}

.contact .info .info-value #googlemap {
  width: 90%;
}

.contact .info .info-value #googlemap iframe {
  width: 90%;
}

.addevent form {
  margin: 20px;
}

.addevent form fieldset {
  background-color: #f6c356;
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addevent form fieldset .thinInput {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.addevent form fieldset .thinInput input {
  height: 25px;
}

.addevent form fieldset .largeInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addevent form fieldset .largeInput textarea {
  margin-left: 10px;
  min-width: 300px;
  max-width: 300px;
}

.addevent form fieldset .submit {
  margin-top: 30px;
  padding: 5px;
}

.login {
  display: flex;
  flex-direction: column;
}

.login .ensemble-connection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.login .ensemble-connection .connection-account, .login .ensemble-connection .create-account {
  background-color: #b6ff98;
  max-width: 45%;
  margin: 10px;
  min-width: 350px;
}

.login .ensemble-connection .connection-account h2, .login .ensemble-connection .create-account h2 {
  text-align: center;
}

.login .ensemble-connection .connection-account form fieldset, .login .ensemble-connection .create-account form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .ensemble-connection .connection-account form fieldset div, .login .ensemble-connection .create-account form fieldset div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.login .ensemble-connection .connection-account form fieldset .submit, .login .ensemble-connection .create-account form fieldset .submit {
  margin-top: 10px;
}

.planning .event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 300px;
  min-width: 300px;
}

.planning .event-list a {
  margin: 15px;
  padding: 10px;
  border-radius: 10px 10px;
  background-color: #84cb68;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 180px;
}

.planning .event-list a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.planning .event-list a div p {
  margin: 0;
  padding: 0;
}

.planning .event-list a:hover {
  background-color: #61b73f;
}

.event {
  background-color: #f6c356;
}

.event div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event div .proposed {
  margin: 0;
  padding: 0;
}

.event div ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.event form fieldset {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.event form fieldset input {
  margin: 10px;
}

.event form fieldset div {
  display: flex;
  flex-direction: row;
}

.addproduct form {
  background-color: #f6c356;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addproduct form fieldset {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addproduct form fieldset div {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addproduct form fieldset div .number {
  width: 80px;
}

.addproduct form fieldset div .price {
  margin: 0;
  width: auto;
  display: flex;
  justify-content: left;
}

.addproduct form fieldset .check {
  padding: 20px 5px;
  background-color: #f3ae1c;
  display: flex;
  flex-wrap: wrap;
}

.addproduct form fieldset .check div {
  width: auto;
  justify-content: left;
  align-items: center;
  margin: 0 10px 0 0;
}

.addproduct form fieldset textarea {
  min-width: 350px;
  max-width: 350px;
}

.home .presentation {
  background-image: url("./public/images/picture-home.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
}

.home .presentation .type-product {
  background-color: rgba(182, 255, 152, 0.8);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .presentation .type-product .exemple {
  border-radius: 10px 10px;
  height: 220px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 10px 20px 10px;
  background-color: #84cb68;
}

.home .presentation .type-product .exemple img {
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
}

.home .presentation .type-product .exemple div {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.home .presentation .type-event {
  background-color: rgba(182, 255, 152, 0.8);
  background-size: cover;
  background-position: center;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .presentation .type-event .exemple {
  border-radius: 10px 10px;
  background-color: #84cb68;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 0 20px 0;
  flex-direction: column;
}

.home .presentation .type-event .exemple p {
  margin: 30px 10px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .home .presentation {
    flex-direction: column;
  }
}

.research .result {
  width: 100%;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.research .result .array {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.research .result .array .produit {
  padding-left: 5px;
  text-align: left;
  border: 3px black solid;
  margin: 0;
  width: 50%;
}

.research .result .array .categorie {
  padding-left: 5px;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  margin: 0;
  width: 25%;
}

.research .result .array .prix {
  padding-left: 5px;
  margin: 0;
  width: 25%;
  border: 3px black solid;
}

.research .result ul {
  border: 3px black solid;
  list-style-type: none;
  width: 94%;
  margin: 5px;
  padding: 0;
}

.research .result ul li a {
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: center;
  text-decoration: none;
}

.research .result ul li a .produit {
  padding-left: 5px;
  text-align: left;
  margin: 0;
  width: 50%;
}

.research .result ul li a .categorie {
  padding-left: 5px;
  border-left: 3px black solid;
  border-right: 3px black solid;
  margin: 0;
  width: 25%;
}

.research .result ul li a .prix {
  padding-left: 5px;
  margin: 0;
  width: 25%;
}

.research .result ul li a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.product div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product div img {
  width: 65%;
  object-fit: contain;
}

.product div .carac-product {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 30%;
}

.product div .carac-product .price {
  text-align: end;
}

.product div form {
  width: auto;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.product div form fieldset {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product div form fieldset p {
  margin: 0;
}

.product div form fieldset div {
  display: flex;
  justify-content: flex-start;
}

.product div form fieldset #quantity {
  margin: 0 0 0 5px;
  width: 65px;
}

.product div form fieldset #submit {
  margin: 10px 0;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.account .all-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: #f6c356;
}

.account .all-info .my-account, .account .all-info .reserved {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px;
  width: 50%;
}

.account .all-info .my-account h2, .account .all-info .reserved h2 {
  text-align: center;
}

.account .all-info .my-account .product, .account .all-info .my-account .events, .account .all-info .reserved .product, .account .all-info .reserved .events {
  height: 100%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 95%;
  min-width: 330px;
}

.account .all-info .my-account .product h3, .account .all-info .my-account .events h3, .account .all-info .reserved .product h3, .account .all-info .reserved .events h3 {
  margin: 0;
}

.account .all-info .my-account .product .product-title, .account .all-info .my-account .events .product-title, .account .all-info .reserved .product .product-title, .account .all-info .reserved .events .product-title {
  width: 100%;
  min-width: 400px;
}

.account .all-info .my-account .product .product-title .name, .account .all-info .my-account .events .product-title .name, .account .all-info .reserved .product .product-title .name, .account .all-info .reserved .events .product-title .name {
  width: 100%;
  padding-left: 30px;
}

.account .all-info .my-account .product .product-title .quantity, .account .all-info .my-account .events .product-title .quantity, .account .all-info .reserved .product .product-title .quantity, .account .all-info .reserved .events .product-title .quantity {
  justify-content: center;
  max-width: 85px;
}

.account .all-info .my-account .product .product-title .price, .account .all-info .my-account .events .product-title .price, .account .all-info .reserved .product .product-title .price, .account .all-info .reserved .events .product-title .price {
  justify-content: center;
  max-width: 110px;
}

.account .all-info .my-account .product .product-title .delete, .account .all-info .my-account .events .product-title .delete, .account .all-info .reserved .product .product-title .delete, .account .all-info .reserved .events .product-title .delete {
  max-width: 30px;
}

.account .all-info .my-account .product .item-product, .account .all-info .my-account .product .item-event, .account .all-info .my-account .events .item-product, .account .all-info .my-account .events .item-event, .account .all-info .reserved .product .item-product, .account .all-info .reserved .product .item-event, .account .all-info .reserved .events .item-product, .account .all-info .reserved .events .item-event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 2px 0;
}

.account .all-info .my-account .product .item-product .my-item, .account .all-info .my-account .product .item-product .my-event, .account .all-info .my-account .product .item-event .my-item, .account .all-info .my-account .product .item-event .my-event, .account .all-info .my-account .events .item-product .my-item, .account .all-info .my-account .events .item-product .my-event, .account .all-info .my-account .events .item-event .my-item, .account .all-info .my-account .events .item-event .my-event, .account .all-info .reserved .product .item-product .my-item, .account .all-info .reserved .product .item-product .my-event, .account .all-info .reserved .product .item-event .my-item, .account .all-info .reserved .product .item-event .my-event, .account .all-info .reserved .events .item-product .my-item, .account .all-info .reserved .events .item-product .my-event, .account .all-info .reserved .events .item-event .my-item, .account .all-info .reserved .events .item-event .my-event {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  width: 90%;
  justify-content: flex-end;
}

.account .all-info .my-account .product .item-product .my-item div, .account .all-info .my-account .product .item-product .my-event div, .account .all-info .my-account .product .item-event .my-item div, .account .all-info .my-account .product .item-event .my-event div, .account .all-info .my-account .events .item-product .my-item div, .account .all-info .my-account .events .item-product .my-event div, .account .all-info .my-account .events .item-event .my-item div, .account .all-info .my-account .events .item-event .my-event div, .account .all-info .reserved .product .item-product .my-item div, .account .all-info .reserved .product .item-product .my-event div, .account .all-info .reserved .product .item-event .my-item div, .account .all-info .reserved .product .item-event .my-event div, .account .all-info .reserved .events .item-product .my-item div, .account .all-info .reserved .events .item-product .my-event div, .account .all-info .reserved .events .item-event .my-item div, .account .all-info .reserved .events .item-event .my-event div {
  border-left: 3px black solid;
  padding: 0 10px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.account .all-info .my-account .product .item-product .my-item .name, .account .all-info .my-account .product .item-product .my-event .name, .account .all-info .my-account .product .item-event .my-item .name, .account .all-info .my-account .product .item-event .my-event .name, .account .all-info .my-account .events .item-product .my-item .name, .account .all-info .my-account .events .item-product .my-event .name, .account .all-info .my-account .events .item-event .my-item .name, .account .all-info .my-account .events .item-event .my-event .name, .account .all-info .reserved .product .item-product .my-item .name, .account .all-info .reserved .product .item-product .my-event .name, .account .all-info .reserved .product .item-event .my-item .name, .account .all-info .reserved .product .item-event .my-event .name, .account .all-info .reserved .events .item-product .my-item .name, .account .all-info .reserved .events .item-product .my-event .name, .account .all-info .reserved .events .item-event .my-item .name, .account .all-info .reserved .events .item-event .my-event .name {
  width: 100%;
}

.account .all-info .my-account .product .item-product .my-item .quantity, .account .all-info .my-account .product .item-product .my-event .quantity, .account .all-info .my-account .product .item-event .my-item .quantity, .account .all-info .my-account .product .item-event .my-event .quantity, .account .all-info .my-account .events .item-product .my-item .quantity, .account .all-info .my-account .events .item-product .my-event .quantity, .account .all-info .my-account .events .item-event .my-item .quantity, .account .all-info .my-account .events .item-event .my-event .quantity, .account .all-info .reserved .product .item-product .my-item .quantity, .account .all-info .reserved .product .item-product .my-event .quantity, .account .all-info .reserved .product .item-event .my-item .quantity, .account .all-info .reserved .product .item-event .my-event .quantity, .account .all-info .reserved .events .item-product .my-item .quantity, .account .all-info .reserved .events .item-product .my-event .quantity, .account .all-info .reserved .events .item-event .my-item .quantity, .account .all-info .reserved .events .item-event .my-event .quantity {
  justify-content: center;
  min-width: 50px;
}

.account .all-info .my-account .product .item-product .my-item .price, .account .all-info .my-account .product .item-product .my-event .price, .account .all-info .my-account .product .item-event .my-item .price, .account .all-info .my-account .product .item-event .my-event .price, .account .all-info .my-account .events .item-product .my-item .price, .account .all-info .my-account .events .item-product .my-event .price, .account .all-info .my-account .events .item-event .my-item .price, .account .all-info .my-account .events .item-event .my-event .price, .account .all-info .reserved .product .item-product .my-item .price, .account .all-info .reserved .product .item-product .my-event .price, .account .all-info .reserved .product .item-event .my-item .price, .account .all-info .reserved .product .item-event .my-event .price, .account .all-info .reserved .events .item-product .my-item .price, .account .all-info .reserved .events .item-product .my-event .price, .account .all-info .reserved .events .item-event .my-item .price, .account .all-info .reserved .events .item-event .my-event .price {
  justify-content: center;
  min-width: 90px;
}

.account .all-info .my-account .product .item-product .my-item .name-event, .account .all-info .my-account .product .item-product .my-event .name-event, .account .all-info .my-account .product .item-event .my-item .name-event, .account .all-info .my-account .product .item-event .my-event .name-event, .account .all-info .my-account .events .item-product .my-item .name-event, .account .all-info .my-account .events .item-product .my-event .name-event, .account .all-info .my-account .events .item-event .my-item .name-event, .account .all-info .my-account .events .item-event .my-event .name-event, .account .all-info .reserved .product .item-product .my-item .name-event, .account .all-info .reserved .product .item-product .my-event .name-event, .account .all-info .reserved .product .item-event .my-item .name-event, .account .all-info .reserved .product .item-event .my-event .name-event, .account .all-info .reserved .events .item-product .my-item .name-event, .account .all-info .reserved .events .item-product .my-event .name-event, .account .all-info .reserved .events .item-event .my-item .name-event, .account .all-info .reserved .events .item-event .my-event .name-event {
  width: 100%;
}

.account .all-info .my-account .product .item-product .my-item .date, .account .all-info .my-account .product .item-product .my-event .date, .account .all-info .my-account .product .item-event .my-item .date, .account .all-info .my-account .product .item-event .my-event .date, .account .all-info .my-account .events .item-product .my-item .date, .account .all-info .my-account .events .item-product .my-event .date, .account .all-info .my-account .events .item-event .my-item .date, .account .all-info .my-account .events .item-event .my-event .date, .account .all-info .reserved .product .item-product .my-item .date, .account .all-info .reserved .product .item-product .my-event .date, .account .all-info .reserved .product .item-event .my-item .date, .account .all-info .reserved .product .item-event .my-event .date, .account .all-info .reserved .events .item-product .my-item .date, .account .all-info .reserved .events .item-product .my-event .date, .account .all-info .reserved .events .item-event .my-item .date, .account .all-info .reserved .events .item-event .my-event .date {
  min-width: 120px;
}

.account .all-info .my-account .product .item-product .my-item .friend, .account .all-info .my-account .product .item-product .my-event .friend, .account .all-info .my-account .product .item-event .my-item .friend, .account .all-info .my-account .product .item-event .my-event .friend, .account .all-info .my-account .events .item-product .my-item .friend, .account .all-info .my-account .events .item-product .my-event .friend, .account .all-info .my-account .events .item-event .my-item .friend, .account .all-info .my-account .events .item-event .my-event .friend, .account .all-info .reserved .product .item-product .my-item .friend, .account .all-info .reserved .product .item-product .my-event .friend, .account .all-info .reserved .product .item-event .my-item .friend, .account .all-info .reserved .product .item-event .my-event .friend, .account .all-info .reserved .events .item-product .my-item .friend, .account .all-info .reserved .events .item-product .my-event .friend, .account .all-info .reserved .events .item-event .my-item .friend, .account .all-info .reserved .events .item-event .my-event .friend {
  min-width: 90px;
}

.account .all-info .my-account .product .item-product .delete, .account .all-info .my-account .product .item-event .delete, .account .all-info .my-account .events .item-product .delete, .account .all-info .my-account .events .item-event .delete, .account .all-info .reserved .product .item-product .delete, .account .all-info .reserved .product .item-event .delete, .account .all-info .reserved .events .item-product .delete, .account .all-info .reserved .events .item-event .delete {
  border: none;
  text-decoration: none;
  background-color: #f55656;
  border: 3px black solid;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account .all-info .my-account .product .item-product .delete:hover, .account .all-info .my-account .product .item-event .delete:hover, .account .all-info .my-account .events .item-product .delete:hover, .account .all-info .my-account .events .item-event .delete:hover, .account .all-info .reserved .product .item-product .delete:hover, .account .all-info .reserved .product .item-event .delete:hover, .account .all-info .reserved .events .item-product .delete:hover, .account .all-info .reserved .events .item-event .delete:hover {
  background-color: #f22626;
}

.account .all-info .my-account {
  border-right: 2px black solid;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  width: 100%;
}

.account .all-info .my-account div {
  margin: 0 10px;
}

.account .all-info .my-account #button-modify {
  margin: 10px;
  height: 40px;
  transition-duration: 1s;
}

.account .all-info .my-account #modify {
  overflow: hidden;
  height: 0;
  transition-duration: 1s;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.account .all-info .my-account #modify form {
  width: 100%;
}

.account .all-info .my-account #modify form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px #da980c solid;
  margin: 5px;
  padding: 10px;
}

.account .all-info .my-account #modify form fieldset div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.account .all-info .my-account #modify form fieldset .submit {
  margin: 15px;
}

.leader-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: #f3b226;
  width: 90%;
}

.leader-event a {
  width: 95%;
  max-width: 700px;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  border-right: 3px black solid;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.leader-event a div {
  padding: 0 10px;
  border-left: 3px black solid;
}

.leader-event a .name {
  width: 100%;
}

.leader-event a .date {
  text-align: center;
  width: 250px;
  min-width: 110px;
}

.leader-event a .users {
  min-width: 160px;
}

@media screen and (max-width: 1000px) {
  .account .all-info {
    flex-direction: column;
  }
  .account .all-info .my-account, .account .all-info .reserved {
    width: 100%;
    margin: 10px 0;
    padding: 0;
    border: none;
  }
}
