@font-face {
  font-family: 'bakersignet';
  src: url("./public/typo/BakerSignetBT.ttf") format("ttf");
  src: url("./public/typo/BakerSignetBT.eot") format("eot");
  src: url("./public/typo/BakerSignetBT.svg") format("svf");
  src: url("./public/typo/BakerSignetBT.woff") format("woff");
}

* {
  font-family: 'bakersignet';
  color: black;
  font-size: 20px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page {
  border: 3px solid #f6c356;
  max-width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 10px;
  font-size: 30px;
  text-decoration: underline;
}

.win {
  background-color: #baead3;
  padding: 20px;
  font-weight: bolder;
}

.err {
  background-color: #f55656;
  padding: 0 20px;
  font-weight: bolder;
}

fieldset {
  border: none;
}

header {
  width: 90%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./public/images/BG-header.jpg");
  background-size: cover;
  background-position: center;
}

header #account {
  width: 100%;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  background-color: #baead3;
}

header #account a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

header #title {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}

header #title img {
  max-height: 250px;
}

header nav {
  width: 90%;
  height: 70px;
  align-items: center;
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.6);
}

header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: #84cb68;
  border-radius: 20px 20px 0 0;
  margin: 0 5px;
  padding: 0 5px;
  width: 20%;
  font-weight: bolder;
}

header nav a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  margin-top: 20px;
  background-color: #84cb68;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .footer-block {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

footer .footer-block p {
  margin: 25px 0 0 0;
  padding: 0;
}

footer .footer-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact h2 {
  font-size: 25px;
  text-align: center;
}

.contact p {
  margin: 20px;
}

.contact .info {
  width: 90%;
}

.contact .info .info-value {
  display: flex;
  width: 90%;
}

.contact .info .info-value ul {
  margin: 0 60px 0 0;
  padding: 0;
  list-style-type: none;
}

.contact .info .info-value ul li {
  display: flex;
  margin: 15px 0;
}

.contact .info .info-value ul li a {
  display: flex;
}

.contact .info .info-value ul li i {
  margin: 5px 10px;
}

.contact .info .info-value ul li p {
  margin: 0;
}

.contact .info .info-value #googlemap {
  width: 90%;
}

.contact .info .info-value #googlemap iframe {
  width: 90%;
}

.addevent form {
  margin: 20px;
}

.addevent form fieldset {
  background-color: #f6c356;
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addevent form fieldset .thinInput {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.addevent form fieldset .thinInput input {
  height: 25px;
}

.addevent form fieldset .largeInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addevent form fieldset .largeInput textarea {
  margin-left: 10px;
  min-width: 300px;
  max-width: 300px;
}

.addevent form fieldset .submit {
  margin-top: 30px;
  padding: 5px;
}

.login {
  display: flex;
  flex-direction: column;
}

.login h1 {
  width: 100%;
  text-align: center;
}

.login .ensemble-connection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.login .ensemble-connection .connection-account, .login .ensemble-connection .create-account {
  background-color: #baead3;
  max-width: 45%;
  margin: 10px;
  min-width: 350px;
}

.login .ensemble-connection .connection-account h2, .login .ensemble-connection .create-account h2 {
  text-align: center;
}

.login .ensemble-connection .connection-account form fieldset, .login .ensemble-connection .create-account form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .ensemble-connection .connection-account form fieldset div, .login .ensemble-connection .create-account form fieldset div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.login .ensemble-connection .connection-account form fieldset .submit, .login .ensemble-connection .create-account form fieldset .submit {
  margin-top: 10px;
}

.planning .event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 300px;
  min-width: 300px;
}

.planning .event-list a {
  margin: 15px;
  padding: 10px;
  border-radius: 10px 10px;
  background-color: #84cb68;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 200px;
}

.planning .event-list a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.planning .event-list a div p {
  margin: 0;
  padding: 0;
}

.event div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event div .proposed {
  margin: 0;
  padding: 0;
}

.event div ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.event form fieldset {
  padding: 20px;
  background-color: #baead3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.event form fieldset input {
  margin: 10px;
}

.event form fieldset div {
  display: flex;
  flex-direction: row;
}
