
*{
    font-family: 'bakersignet';
	color: black;
    font-size: 20px;
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page{
    max-width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 10px;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    font-family: 'capture-it';
    font-weight: normal;
}

.win{
    background-color: $colorSecondary;
    padding: 20px;
    font-weight: bolder;
}

.err{
    background-color: $colorWarning;
    padding: 0 20px;
    margin: 15px 0;
    font-weight: bolder;
}

fieldset{
    border: none;
}