
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page{
    border: 3px solid $colorQuatuary;
    max-width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 10px;
    font-size: 30px;
    text-decoration: underline;
}
.win{
    background-color: $colorSecondary;
    padding: 20px;
    font-weight: bolder;
}

.err{
    background-color: rgb(245, 86, 86);
    padding: 0 20px;
    font-weight: bolder;
}

fieldset{
    border: none;
}