.input-style{
    border: none;
    border-radius: 50px;
    padding: 7px 20px;
    background-color: $colorTertiary;
    color: white;
    box-shadow: 5px 5px 5px black;
    transition-duration: 0.3s;
    text-align: center;
}
.input-style:hover{

    transform: scale(1.06);
}
.input-style:active{
    box-shadow:  5px 5px 5px black inset;
}