.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        text-align: center;
    }
    .reserved{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        .product, .events{
            height: 100%;
            margin: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .item-product, .item-event{
                display: flex;
                flex-direction: row;
                a{
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    border-top: 3px black solid;
                    border-bottom: 3px black solid;
                    div{
                        border-left: 3px black solid;
                        padding: 0 10px;
                        width: auto;
                        display: flex;
                        flex-direction: row;
                    }
                }
                .delete{
                    border: none;
                    background-color: red;
                    border: 3px black solid;
                    min-width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .leader-event{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            width: 75%;
            border-top: 3px black solid;
            border-bottom: 3px black solid;
            border-right: 3px black solid;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            div{
                padding: 0 10px;
                border-left: 3px black solid;
            }
        }
    }
}