.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    .all-info{
        width: 90%;
        display: flex;
        flex-direction: row;
        background-color: $colorQuatuary;
        .my-account, .reserved{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 10px 10px;
            width: 50%;
            h2{
                text-align: center;
            }
            .product, .events{
                height: 100%;
                margin: 0 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                width: 95%;
                min-width: 330px;
                h3{
                    margin: 0;
                }
                .product-title{
                    width: 100%;
                    min-width: 400px;
                    .name{
                        width: 100%;
                        padding-left: 30px;
                    }
                    .quantity{
                        justify-content: center;
                        max-width: 85px;
                    }
                    .price{
                        justify-content: center; 
                        max-width: 110px;
                    }
                    .delete{
                        max-width: 30px;
                    }
                }
                .item-product, .item-event{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    margin: 2px 0;
                    .my-item, .my-event{
                        display: flex;
                        flex-direction: row;
                        text-decoration: none;
                        border-top: 3px black solid;
                        border-bottom: 3px black solid;
                        width: 90%;
                        justify-content: flex-end;
                        div{
                            border-left: 3px black solid;
                            padding: 0 10px;
                            width: auto;
                            display: flex;
                            flex-direction: row;
                        }
                        .name{
                            width: 100%;
                        }
                        .quantity{
                            justify-content: center;
                            min-width: 50px;
                        }
                        .price{
                            justify-content: center; 
                            min-width: 90px;
                        }
                        .name-event{
                            width: 100%;
                        }
                        .date{
                            min-width: 120px;
                        }
                        .friend{
                            min-width: 90px;
                        }
                    }
                    .delete{
                        border: none;
                        text-decoration: none;
                        background-color: $colorWarning;
                        border: 3px black solid;
                        min-width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .delete:hover{
                        background-color: darken($color: $colorWarning, $amount: 10);
                    }
                }
            }
        }
        .my-account{
            border-right: 2px black solid;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            width: 100%;
            div{
                margin: 0 10px;
            }
            #button-modify{
                margin: 10px;
                height: 40px;
                transition-duration: 1s;
            }
            #modify{
                overflow: hidden;
                height: 0;
                transition-duration: 1s;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0;
                form{
                    width: 100%;
                    fieldset{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border: 3px darken($color: $colorQuatuary, $amount: 20) solid;
                        margin: 5px;
                        padding: 10px;
                        div{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin: 5px;
                        }
                        .submit{
                            margin: 15px;
                        }
                    }
                }
            }
        }

    }
}

.leader-event{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        background-color: darken($color: $colorQuatuary, $amount: 10);
        width: 90%;
        a{
            width: 95%;
            max-width: 700px;
            border-top: 3px black solid;
            border-bottom: 3px black solid;
            border-right: 3px black solid;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            div{
                padding: 0 10px;
                border-left: 3px black solid;
            }
            .name{
                width: 100%;
            }
            .date{
                text-align: center;
                width: 250px;
                min-width: 110px;
            }
            .users{
                min-width: 160px;
            }
        }
}

@media screen and (max-width: 1000px){
    .account .all-info{
        flex-direction: column;
        .my-account, .reserved{
            width: 100%;
            margin: 10px 0;
            padding: 0;
            border: none;
        }
    }
}